<div class="col-lg-12">
    <hr>
    <h2 class="intro-text text-center">{{ list_title }}
    </h2>
    <hr class="detail-separator">
</div>

{% include 'store/search_form.html' %} {% if albums|length_is:"0" %}
<div class="text-center">
    Palsambleu ! Nous n'avons trouvé aucun résultat à cette requête. Même pas de quoi se ronger la chique ! Partez de nouveau
    à l'abordage !
</div>

{% else %}
<div class="row">

    {% for album in albums %}

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="{% url 'store:detail' album_id=album.id %}">
                {% if album.picture %}
                <img class="card-img-top" src="{{ album.picture }}" alt="" height="144.56px"> {% else %}
                <img class="card-img-top" src="http://placehold.it/700x400" alt="" height="144.56px"> {% endif %}
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{% url 'store:detail' album_id=album.id %}">{{ album.title }}</a>
                </h4>
                <h5>{{ album.title }} F.CFA</h5>
                <p class="card-text">{{ album.title }}</p>
                <p class="card-text">
                    {% for artist in album.artists.all %}
                        {{ artist.name }}
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endif %} {% if paginate %}
<div class="clearfix"></div>
<nav aria-label="">
    <ul class="pager">
        {% if albums.has_previous %}
        <li>
            <a href="?page={{ albums.previous_page_number }}">Précédent</a>
        </li>
        {% endif %} {% if albums.has_next %}
        <li>
            <a href="?page={{ albums.next_page_number }}">Suivant</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}